# Node.js
node_modules/
npm-debug.log
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
ignore_changes.tf

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# macOS
.DS_Store

# Cypress / Test
cypress/videos/
cypress/screenshots/
mern-project/client/cypress/integration/endToEnd.online.spec.js
